[cPP CHANGE] inconsistent bullets in FIA_X509_EXT.1.1/Rev

**What is the change request for the cPP? Please describe.**
In the bullet list that specifies the revocation methods, the two CRL listings are slightly different. One starts with "a Certificate ..." while the other one just says "Certificate ...". They should both be the same.

**Describe the solution you'd like**
Make these two lines start the same:

> o a Certificate Revocation List (CRL) as specified in RFC 5280 Section 6.3,
o Certificate Revocation List (CRL) as specified in RFC 5759 Section 5,

Either remove the "a" from the first line, or add an "a" at the beginning of the second.

**Describe alternatives you've considered**
N/A

**Additional context**
Consistency (it looks strange to list the two lines differently given they are basically the same except for the RFC being referenced)


Change implemented. We're all impressed with your eagle eyes.